code{
	font-family: "Lucida Console", Monaco, monospace;
	color: #4C4C4C;
}

code.notes{
	margin: 0%;
	display: block;
}

a {
	color: #4C4C4C;
}

a:hover{
	text-decoration: none;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12pt;
	text-align: center;
}